<%= simple_form_for @organisation, html: { class: 'form-horizontal' } do |f| %>
  <%= f.input :registration_no, input_html: {class: "input-xxlarge"} %>
  <%= f.input :census_url_no, input_html: {class: "input-xxlarge"} %>
  <%= f.input :name, input_html: {class: "input-xxlarge"} %>
  <%= f.collection_radio_buttons :status, Organisation::STATES, :first, :last %>
  <%= f.association :organisation_type, collection: OrganisationType.all(order: 'name'), value_method: :id, label_method: :name, include_blank: false %>
  <%= f.association :parent, collection: Organisation.all(order: 'name'), value_method: :id, label_method: :name, include_blank: false %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                organisations_path, :class => 'btn' %>
  </div>
<% end %>
