<%- model_class = Organisation -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_organisation_path,
            :class => 'btn btn-primary' %>

<%= link_to t('.upload', :default => t("helpers.links.upload")),
upload_organisations_path,
:class => 'btn btn-primary' %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:registration_no) %></th>
      <th><%= model_class.human_attribute_name(:census_url_no) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:organisation_type_id) %></th>
      <th><%= model_class.human_attribute_name(:parent_id) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @organisations.each do |organisation| %>
      <tr>
        <td><%= link_to organisation.registration_no, organisation_path(organisation) %></td>
        <td><%= organisation.census_url_no %></td>
        <td><%= link_to organisation.name, organisation_path(organisation) %></td>
        <td><%= organisation.organisation_type.name %></td>
        <td><%= link_to organisation.parent.name, organisation_path(organisation.parent) if organisation.parent %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_organisation_path(organisation), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      organisation_path(organisation),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>