<%- model_class = CensusTableFormat -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:census_format_id) %></th>
      <th><%= model_class.human_attribute_name(:scout_type_id) %></th>
      <th><%= model_class.human_attribute_name(:membership_type_id) %></th>
      <th><%= model_class.human_attribute_name(:row) %></th>
      <th><%= model_class.human_attribute_name(:column) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @census_table_formats.each do |census_table_format| %>
      <tr id=<%= census_table_format.id %>>
        <td><%= census_table_format.census_format.name %></td>
        <td><%= census_table_format.scout_type.name %></td>
        <td><%= census_table_format.membership_type.name %></td>
        <td><%= census_table_format.row %></td>
        <td><%= census_table_format.column %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_census_table_format_path(census_table_format), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      census_table_format_path(census_table_format),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_census_table_format_path,
            :class => 'btn btn-primary' %>
