<!DOCTYPE html>
<html>
  <%= render 'layouts/head' %>

<body data-controller="<%= controller_name %>" data-action="<%= action_name %>">  <%= render 'layouts/navigation' %>
  <%= render 'layouts/two_column' %>  
  </body>
</html>
